<!-- <div class="headerPart">
  <div class="selectedText" *ngIf="!movieSelectedData;else innerMovieData">Selected A Movie</div>
  <ng-template #innerMovieData>
    <div class="innerData-container">
      <div class="hp-img-container">
        <img
          src={{movieSelectedData.movieImg}}
          alt=""
        />
      </div>
        <div class="hp-text-container">
          <div >{{ movieSelectedData.title }}</div>
          <div >{{ movieSelectedData.dailyRentalRate}} ⭐ - {{ movieSelectedData.genre.name}}</div>
        </div>
    </div>
  </ng-template>
</div> -->
