.example-spacer {
  flex: 1 1 auto;
}

.movieIcon-Con{
 height: 100%;
 width: 14rem;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}


.movieIconDiv{
 height: 2.7rem;
 width: 7rem;
 margin-left: 10px;
 background-color: rgb(255, 255, 255);
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0.5rem;
 color: #212121;
 border-radius: 0.3rem;
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 font-size: 1.1rem;
 cursor: pointer;
}

.movieIconDiv:hover{
 background-color: rgba(247, 247, 247, 0.897);
}
.textMovieApp{
 height: 1.3rem;
 font-weight: 500;
}